.anchor {
    -fx-background-image:url('background2.png');
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 1920 1080;
}
.tab-header-background {
    -fx-background-color: -fx-outer-border, -fx-inner-border, derive(-fx-color, -80%);
    -fx-effect: innershadow(two-pass-box , rgba(0,0,0,0.6) , 4, 0.0 , 0 , 0);
}
